// Theme's SCSS
/* Box-Shadow Divs */
div[data-boxed] {
    margin: 0 auto;
    /* width: fit-content; */
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-95] {
    margin: 0 auto;
    width: 95%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-90] {
    margin: 0 auto;
    width: 90%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-85] {
    margin: 0 auto;
    width: 85%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-80] {
    margin: 0 auto;
    width: 80%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-75] {
    margin: 0 auto;
    width: 75%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-70] {
    margin: 0 auto;
    width: 70%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-66] {
    margin: 0 auto;
    width: 66.666%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-65] {
    margin: 0 auto;
    width: 65%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-60] {
    margin: 0 auto;
    width: 60%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-55] {
    margin: 0 auto;
    width: 55%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-50] {
    margin: 0 auto;
    width: 50%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-45] {
    margin: 0 auto;
    width: 45%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-40] {
    margin: 0 auto;
    width: 40%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-35] {
    margin: 0 auto;
    width: 35%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-33] {
    margin: 0 auto;
    width: 33.333%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-30] {
    margin: 0 auto;
    width: 30%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-25] {
    margin: 0 auto;
    width: 25%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-20] {
    margin: 0 auto;
    width: 20%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-15] {
    margin: 0 auto;
    width: 15%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-10] {
    margin: 0 auto;
    width: 10%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-boxed-5] {
    margin: 0 auto;
    width: 5%;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}
